@charset "UTF-8";
/*
 * ┏━━━━━━━━━━━━━━━━━━━━━━━━━━ʕ•㉨•ʔ━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
 *   											   VARIABLES
 * ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━ ☆ ━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
 */
/*
 * ┏━━━━━━━━━━━━━━━━━━━━━━━━━━ʕ•㉨•ʔ━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
 *   											   COLORS
 * ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━ ☆ ━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
 */
.crimson {
  background-color: #9C0204; }

.crimson-text {
  color: #9C0204; }

.navy {
  background-color: #101920; }

.navy-text {
  color: #101920; }

.black {
  background-color: #000; }

.black-text {
  color: #000; }

.white {
  background-color: #FFF; }

.white-text {
  color: #FFF; }

.offWhite {
  background-color: #F4F4F4; }

.offWhite-text {
  color: #F4F4F4; }

/*
 * ┏━━━━━━━━━━━━━━━━━━━━━━━━━━ʕ•㉨•ʔ━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
 *   											    IMAGES
 * ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━ ☆ ━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
 */
/*
 * ┏━━━━━━━━━━━━━━━━━━━━━━━━━━ʕ•㉨•ʔ━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
 *   											  TYPOGRAPHY
 * ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━ ☆ ━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
 */
/*
 * ┏━━━━━━━━━━━━━━━━━━━━━━━━━━ʕ•㉨•ʔ━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
 *   										     TOP BAR
 * ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━ ☆ ━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
 */
